body {
  background-color: #ddd;
}

.container-fluid {
  display: inline-grid;
}

.card {
  width: 18rem;
  height: 30rem;
  display: inline-block;
  margin: 10px;
  border: 1px solid #333;
  padding: 5px;
}

img {
  margin: 0;
  height: 30%;
}

.havardImage {
  width: 15rem;
  height: 27rem;
}
